.49_122 { 
	overflow:hidden;
}.e49_122 { 
	width:1115px;
	height:768px;
	position:absolute;
}.e49_123 { 
	background-color:rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
	width:1115px;
	height:768px;
	position:absolute;
	left:0px;
	top:0px;
}.e49_144 { 
	background-color:rgba(255, 185.00000417232513, 0, 1);
	width:117px;
	height:45px;
	position:absolute;
	left:763px;
	top:154px;
}.49_144 { 
	border:6.081080913543701px solid rgba(255, 185.00000417232513, 0, 1);
}.e71_118 { 
	color:rgba(255, 255, 255, 1);
	width:117px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Segoe UI;
	text-align:center;
	font-size:30.875003814697266px;
	letter-spacing:0;
	line-height:px;
}.e71_129 { 
	width:160px;
	height:60.822696685791016px;
	position:absolute;
	left:88px;
	top:144px;
	background-image:url(images/yellow_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e71_130 { 
	color:rgba(255, 255, 255, 1);
	width:381px;
	height:38px;
	position:absolute;
	left:87px;
	top:282px;
	font-family:Segoe UI;
	text-align:right;
	font-size:33.241607666015625px;
	letter-spacing:0;
	line-height:px;
}.e49_126 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1115px;
	height:35px;
	position:absolute;
	left:0px;
	top:733px;
}.e49_127 { 
	color:rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
	width:101.39078521728516px;
	height:15px;
	position:absolute;
	left:911px;
	top:9px;
	font-family:Segoe UI;
	text-align:right;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e49_132 { 
	color:rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
	width:10.93012523651123px;
	height:15px;
	position:absolute;
	left:1012.9801025390625px;
	top:9px;
	font-family:Segoe UI;
	text-align:right;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e49_133 { 
	color:rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
	width:54.56624984741211px;
	height:15px;
	position:absolute;
	left:1033.5899658203125px;
	top:9px;
	font-family:Segoe UI;
	text-align:right;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.49_141 { 
	border:1px solid rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
}.e49_141 { 
	width:471px;
	height:44.97999954223633px;
	position:absolute;
	left:282.18994140625px;
	top:153.5899658203125px;
}.e49_142 { 
	background-color:rgba(255, 255, 255, 1);
	width:469px;
	height:42.97999954223633px;
	position:absolute;
	left:1px;
	top:1px;
}.e49_143 { 
	background-color:rgba(255, 255, 255, 1);
	width:429px;
	height:32.95000076293945px;
	position:absolute;
	left:0px;
	top:3.0399999618530273px;
}.e49_145 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1115px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}.e49_146 { 
	color:rgba(172.00000494718552, 172.00000494718552, 172.00000494718552, 1);
	width:50.9349365234375px;
	height:15px;
	position:absolute;
	left:18px;
	top:10px;
	font-family:Segoe UI;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e49_152 { 
	color:rgba(172.00000494718552, 172.00000494718552, 172.00000494718552, 1);
	width:29.264312744140625px;
	height:15px;
	position:absolute;
	left:83px;
	top:10px;
	font-family:Segoe UI;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}